if SHIELD_SPLIT001_LEFT

config ZMK_KEYBOARD_NAME
    default "Split001"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
endif

if SHIELD_SPLIT001_LEFT || SHIELD_SPLIT001_RIGHT

config ZMK_SPLIT
    default y

endif
